.container {
  background: url("../../../../public/pattern/background.png") center no-repeat;

  // padding: 20px;
}

.blur_block {
  padding: 18px 82px;

  backdrop-filter: blur(10px);
  // border-radius: 30px;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  // row-gap: 125px;
}

.block_in_right {
  display: flex;
  justify-content: flex-end;
}

.info_logo {
  padding-bottom: 125px;
}

.info_block {
  max-width: 330px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-end;

  .info_text {
    text-transform: uppercase;
    text-align: center;

    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #bc2112;
  }
  .info_btn {
    padding: 10px 20px;

    border: 3px #2b2b2b solid;
    border-radius: 20px;

    // display: inline-block;

    min-width: 331px;
  }
}
